.marginT { margin-top: 15px; }

div.predicate_block {
    display: block;
    margin-top: 5px;
    min-height: 20px;
}

div.label {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

div.label_wide {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

div.aligned_control {
    margin-right: 0px;
    vertical-align: middle;
}

.marginD { margin-left: 3px; }

/*Вставка вертикального отступа*/

.spacer {
    display: block;
    height: 5px;
}

.ControlGrayed {
    opacity: 0.5;
    pointer-events: none;
}

#tabs {
    background-color: rgb(245, 245, 245);
    border-width: 0px;
}

.v4NtfEmpty {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}